section {
  width: 100%;
}

@media screen and (max-width: 281px) {
  body {
    zoom: 0.8;
  }
  section {
    width: 110%;
  }
  .override {
    background-size: cover;
    object-fit: contain !important;
  }
}

@media screen and (min-width: 281px) and (max-width: 600px) {
  body {
    zoom: 0.8;
  }
  section {
    width: 110%;
  }
  .override {
    background-size: cover;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  body {
    zoom: 0.8;
  }
  section {
    width: 110%;
  }
  .override {
    background-size: cover;
  }
}
