@import "../../theme.scss";

.SocialSection__container {
  width: 100vw;
  height: 39vh;
  background-color: $mainColor;
  margin-top: 14.5rem;
}
.SocialSection__grid {
  display: grid;
  grid-template-columns: 1fr 0.66fr 1fr;
  align-items: center;

  .SocialSection__content {
    padding: 1.75rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: white;
  }
}

.SocialSection__photo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 14rem;
    padding: 0rem 1rem;
  }
}

.instagram {
  width: 1.25rem;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.04);
  }
}

.alignment-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in-right {
  animation: fade-in-right 2.5s ease-in-out;
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.fade-in-left {
  animation: fade-in-left 2.5s ease-in-out;
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 281px) {
  .SocialSection__container {
    width: 100%;
    margin-top: 20rem;
  }
  .SocialSection__grid {
    grid-template-columns: 1fr;
  }
  .SocialSection__photo-container {
    display: none;
  }
  .SocialSection__content {
    font-size: 1rem !important;
    padding: 0rem !important;
    padding: 1rem !important;
  }
  .SocialSection__title {
    margin-left: 0.325rem !important;
    font-size: 1.65rem !important;
  }
}

@media screen and (min-width: 281px) and (max-width: 600px) {
  .SocialSection__container {
    width: 100%;
    margin-top: 20rem;
  }
  .SocialSection__grid {
    grid-template-columns: 1fr;
  }
  .SocialSection__photo-container {
    display: none;
  }
  .SocialSection__content {
    font-size: 1rem !important;
    padding: 0rem !important;
    padding: 1rem !important;
  }
  .SocialSection__title {
    margin-left: 0.325rem !important;
    font-size: 1.65rem !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .SocialSection__container {
    width: 100%;
    margin-top: 20rem;
  }

  .SocialSection__photo-container {
    > img {
      width: 40%;
    }
  }
  .SocialSection__content {
    font-size: 1rem !important;
    padding: 0rem !important;
    padding: 1rem !important;
  }
  .SocialSection__title {
    margin-left: 0.325rem !important;
    font-size: 1.65rem !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .SocialSection__container {
    width: 108.75%;
  }
  .SocialSection__content {
    font-size: 1rem !important;
    padding: 0rem !important;
  }
  .SocialSection__title {
    margin-left: 0.325rem !important;
    font-size: 1.25rem !important;
  }
}
