.navbar {
  padding-right: 0.5rem;
  font-size: 1.4rem;
  overflow: hidden;
}

.navbar__link {
  color: white;
  transition: 0.5s ease;
  padding-right: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &:hover {
    color: #bce8ffe1;
  }
}
