.ProductPageCard__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  align-items: center;
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: -15rem;
}

.ProductPageCard__image-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5rem 10rem;
  width: 75%;
  > img {
    width: 100%;
    padding: 2rem;
    border: 3px solid black;
  }
}

.ProductPageCard__content-container {
  text-align: center;
  color: black;
  padding: 4rem;
  width: 80%;

  min-height: 100vh;
}

select {
  margin-left: 0.25rem;
  outline: none;
}

@media screen and (max-width: 323px) {
  .ProductPageCard__grid {
    grid-template-columns: 1fr;
    align-items: normal;
    margin-top: 7vh;
  }

  .justify-wrapper {
    width: 100%;
    margin: auto;
  }

  .ProductPageCard__image-container {
    width: 60%;
    margin: auto;
    padding: 2rem 6rem 2rem 2rem;
    > img {
      border: 3px solid black;
    }
  }

  .ProductPageCard__content-container {
    width: 55%;
    margin-left: 0.25rem;
  }

  .add-button {
    height: 10%;
    width: 30%;
    margin: auto;
  }
}

@media screen and (min-width: 323px) and (max-width: 510px) {
  .ProductPageCard__grid {
    grid-template-columns: 1fr;
    align-items: normal;
    margin-top: 7vh;
  }

  .justify-wrapper {
    width: 100%;
    margin: auto;
  }

  .ProductPageCard__image-container {
    width: 65%;
    margin: auto;
    padding: 2rem 6rem 2rem 2rem;
    > img {
      border: 3px solid black;
    }
  }
  .ProductPageCard__content-container {
    margin: auto;

    width: 65%;
  }
  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 10%;
    width: 25%;
  }
}

@media screen and (min-width: 510px) and (max-width: 600px) {
  .ProductPageCard__grid {
    grid-template-columns: 1fr;
    align-items: normal;
    margin-top: 7vh;
  }

  .justify-wrapper {
    width: 100%;
    margin: auto;
  }

  .ProductPageCard__image-container {
    width: 80%;
    margin: auto;
    padding: 2rem 6rem 2rem 2rem;
    > img {
      border: 3px solid black;
    }
  }
  .ProductPageCard__content-container {
    margin: auto;
    margin-left: -0.6rem;
    width: 80%;
  }
  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 10%;
    width: 25%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
  .ProductPageCard__grid {
    align-items: center;
    margin-top: 7vh;
  }

  .justify-wrapper {
    width: 100%;
  }

  .ProductPageCard__content-container {
    width: 50%;
    position: relative;
    top: 30%;
    left: 20%;
  }

  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 10%;
    width: 25%;
  }

  .ProductPageCard__content-container {
    min-height: 118vh;
  }

  .ProductPageCard__image-container {
    width: 60%;
  }
}

@media screen and (min-width: 1300px) {
  .ProductPageCard__grid {
    align-items: center;
    gap: 5rem;
    margin-top: 7vh;
  }

  .justify-wrapper {
    width: 50%;
    margin: 0rem 5rem;
  }

  .ProductPageCard__content-container {
    width: 50%;
    position: relative;
    top: 22.5%;
    left: 5%;
  }

  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 10%;
    width: 25%;
  }

  .ProductPageCard__content-container {
    min-height: 90vh;
  }
}
