.ProductPageCard__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  align-items: center;
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: -15rem;
}

.ProductPageCard__image-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5rem 10rem;
  width: 75%;
}
.ProductPageCard__image-container > img {
  width: 100%;
  padding: 2rem;
  border: 3px groove rgba(0, 0, 0, 0.777);
  border-radius: 0.5rem;
}

.ProductPageCard__content-container {
  text-align: center;
  color: black;
  padding: 4rem;
  width: 80%;
  min-height: 100vh;
}

.productPageCard__button-container {
  display: flex;
  justify-content: center;
}

.favourite-button {
  height: 3.25rem;
  width: 3.25rem;
  padding: 0.15rem;
  margin-left: 0.1rem;
  border-radius: 50%;
}

select {
  margin-left: 0.25rem;
  outline: none;
}

@media screen and (max-width: 323px) {
  .ProductPageCard__grid {
    grid-template-columns: 1fr;
    align-items: normal;
    margin-top: 7vh;
  }
  .justify-wrapper {
    width: 100%;
    margin: auto;
  }
  .ProductPageCard__image-container {
    width: 60%;
    margin: auto;
    padding: 2rem 6rem 2rem 2rem;
  }
  .ProductPageCard__image-container > img {
    border: 3px solid black;
  }
  .ProductPageCard__content-container {
    width: 55%;
    margin: auto;
  }
  .add-button {
    height: 10%;
    width: 30%;
    margin: auto;
  }
  .favourite-button {
    height: 3.25rem;
    width: 3rem;
    margin-right: 3rem;
    margin-left: -3.5rem;
    border-radius: 50%;
  }
}
@media screen and (min-width: 323px) and (max-width: 510px) {
  .ProductPageCard__grid {
    grid-template-columns: 1fr;
    align-items: normal;
    margin-top: 7vh;
  }
  .justify-wrapper {
    width: 100%;
    margin: auto;
  }
  .ProductPageCard__image-container {
    width: 65%;
    margin: auto;
    padding: 2rem 6rem 2rem 2rem;
  }
  .ProductPageCard__image-container > img {
    border: 3px solid black;
  }
  .ProductPageCard__content-container {
    margin: auto;
    width: 65%;
  }
  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 3rem;
    width: 6rem;
    margin-top: 0.25rem;
  }
  .favourite-button {
    border-radius: 50%;
    height: 3.25rem;
    width: 3rem;
  }
}
@media screen and (min-width: 510px) and (max-width: 600px) {
  .ProductPageCard__grid {
    grid-template-columns: 1fr;
    align-items: normal;
    margin-top: 7vh;
  }
  .justify-wrapper {
    width: 100%;
    margin: auto;
  }
  .ProductPageCard__image-container {
    width: 80%;
    margin: auto;
    padding: 2rem 6rem 2rem 2rem;
  }
  .ProductPageCard__image-container > img {
    border: 3px solid black;
  }
  .ProductPageCard__content-container {
    margin: auto;
    margin-left: -0.6rem;
    width: 80%;
  }
  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 10%;
    width: 25%;
  }
  .productPageCard__button-container {
    display: inline;
  }
  .favourite-button {
    border-radius: 50%;
    padding: 2rem;
    margin-top: -0.25rem;
    height: 10%;
    width: 10%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1500px) {
  .ProductPageCard__grid {
    align-items: center;
    margin-top: -15vh;
  }
  .justify-wrapper {
    width: 100%;
  }
  .ProductPageCard__content-container {
    width: 50%;
    position: relative;
    top: 27%;
    left: 15%;
  }
  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 3.5rem;
    width: 6rem;
  }
  .ProductPageCard__content-container {
    min-height: 118vh;
  }
  .ProductPageCard__image-container {
    width: 60%;
  }
  .favourite-button {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media screen and (min-width: 1500px) {
  .ProductPageCard__grid {
    align-items: center;
    gap: 5rem;
    margin-top: -2vh;
  }
  .justify-wrapper {
    width: 50%;
    margin: 0rem 5rem;
  }
  .ProductPageCard__content-container {
    width: 50%;
    position: relative;
    top: 30.5%;
    left: 5%;
  }
  .add-button {
    padding: 0.25rem 0.1rem !important;
    height: 3.5rem;
    width: 4rem;
  }
  .ProductPageCard__image-container {
    width: 120%;
  }
  .ProductPageCard__content-container {
    min-height: 90vh;
  }
}/*# sourceMappingURL=ProductPageCard.css.map */