.CartPage__content-container {
  min-height: 100vh;
  color: black;
  text-align: center;
  padding-top: 2.5rem;
  width: 100vw;
  .CartPage__text {
    padding-top: 4rem;
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}

.cartProduct__container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.cartProduct__grid {
  border: 5px groove black;
  width: 25%;
  padding: 2rem;
}

.cartProduct__image {
  width: 50%;
}

.cartProduct_buttons {
  display: flex;

  justify-content: center;
  > button {
    width: 5rem;
    height: 4rem;
    margin-left: 0.25rem;
  }
}

.total-price {
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .CartPage__content-container {
    width: 89%;
    > div {
      width: 100%;
      > h1 {
        text-align: inherit;
        width: 109.25%;
      }
      .total-price {
        text-align: inherit;
        width: 109.25%;
      }
    }
  }
}
