.productCard__grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border: 5px groove black;
  border-radius: 0.25rem;
  padding: 0.5rem 4rem;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.025);
  }
}

.productCard__image {
  padding-top: 1rem;
  width: 10rem;
  z-index: 0;
}
