.trendingCarousel__container {
  color: black;
  text-align: center;
  font-size: 1.125rem;
  height: 30vh;
  width: 100vw;
  padding: 0.5rem;
  background-color: white;
}

.trendingCarousel__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 15vh;
}

@media screen and (max-width: 281px) {
  .trendingCarousel__heading {
    margin-left: 0.55rem;
    font-size: 1.25rem;
  }
  .trendingCarousel__container {
    width: 104%;
  }
  button {
    display: none;
  }
}
